remdiv
{
  scrollbar-base-color: #EE3224;
  /*border: 1px solid red;*/
}


REM_body
{      
CURSOR: url(cursor1.cur);
}

body
{
  margin:           0px;
  font-family:      verdana, arial, sans-serif;
  font-size:        small;
  color:            #001E55;
  background-color: #000000; /*#00A8C0;*/
  /*scrollbar-base-color: #EE3224;*/
}

                   
div.div_layout         
{                  
  position:         relative;
  top:              5px;
  margin-left:      auto;
  margin-right:     auto;
  margin-top:       auto;
  margin-bottum:    auto;
  width:            1014px;
  height:           768px;
  background-color: #ffffff;
  z-index:          8;
}     
                
div.td_logo         
{                  
  position:        absolute;
  top:             45px;
  left:            30px;
  width:           174px;
  height:          27px;
  z-index:         10;
  align:           center;
  vertical-align:  middle;
}
                
div.td_meter         
{                  
  visibility:      hidden;
  position:        absolute;
  top:             10px;
  left:            300px;
  width:           200px;
  height:          100px;
  z-index:         10;
}
                
div.td_pointer         
{                  
  visibility:      hidden;
  position:        absolute;
  top:             10px;
  left:            300px;
  width:           200px;
  height:          100px;
  z-index:         11;
}
          
img.img_meter         
{                    
  height:          100px;
  width:           200px;
  align:           center;
}
img.img_pointer         
{                    
  height:          100px;
  width:           200px;
  align:           center;
}
            
            
                
div.td_head         
{                  
  position:        absolute;
  top:             10px;
  left:            214px;
  width:           386px;
  height:          100px;
  font-size:       xx-large;
  padding-top:     12px;
  text-align:      center;
  z-index:         10;
}


div.td_jmol
{
  position:        absolute;
  top:             120px;
  left:            10px;
  width:           600px;
  height:          640px;
  z-index:        10;
}  

                   
div.td_page         
{                  
  position:        absolute;
  top:             0px;
  left:            610px;
  width:           400px;
  height:          0px;
}           

div.div_bottom
{       
  position:        absolute;
  top:             668px;
  left:            0px;
  height:          100px;
  width:           1014px;
//  z-index:         -1; /* do only in IE*/
}           
           

div.div_copyright
{    
  text-align:      right;
  position:        absolute;
  top:             745px;
  left:            750px;
  height:          15px;
  width:           250px;
  z-index:         11;
  font-family:     verdana, arial, sans-serif;
  font-size:       x-small;
  color:           #000000;
  font-style:      bold-italic; 
}           

                   

div.div_controls
{
  vertical-align: bottom;
  overflow:       auto;
  height:         180px;
  z-index:        10;
}

div.div_main
{
  width:          100%;
  height:         200%;
  vertical-align: middle;
  text-align:     center;
  z-index:        10;
}

div.div_close
{
  text-align:     right;
  z-index:        12;
}

div.div_page
{
  overflow:       auto;
  visibility:     hidden;
  height:         0px;
  padding-right:  1px; 
  padding-left:   10px; 
  width:          380px;
  position:       absolute;
  top:            25px; 
  vertical-align: middle; 
  z-index:        10;
}

div.div_head
{
  font-family:     arial, sans-serif;
  font-size:       150%;
  font-weight:     bolder;
  color:           #EE3224; /*#00A8C0;*/
  padding-bottom:  20px;
  z-index:         10;
}  

div.div_text
{
  padding-bottom: 20px;
  z-index:        10;
}

div.div_help
{
  font-style: italic;
  height: 0px;
  visibility: hidden;
  color: #009AB5;
  padding-left: 15px;
  padding-right: 15px;
  z-index:        10;
}

div.div_answer
{
  padding-bottom: 10px;
}

div.div_choice
{
  height: 0px;
  visibility: hidden;
  font-weight: bolder;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
  z-index:        10;
}

div.div_note
{
  padding-bottom: 10px;
  z-index:        10;
}

div.div_next
{
  text-align: right;
  visibility: visible;
  font-style: italic;
  z-index:        10;
}


acronym
{ 
  cursor: help;
  border-bottom-color: #000000;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}
